/* ABOUT */
.about-me {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: start;
  text-wrap: balance;
  box-sizing: border-box;
  background-color: #0F1035;
  font-weight: 600;

}

.text{
  color: #dbdbdb;
  font-size: 15px;
  margin-bottom: 30px;
}

.about-me .content1{
  width: 50%;
  /* border-top: 2px solid #333; */
  padding: 10px;
  /* background-color: #000000bb; */

  /* background: #00000081; */
}

.about-me #btns-anchor{
  display: flex;
  gap: 10px;
}


.about-me .content2{
  margin: 0 auto;
  width: 50%;
  height: 100%;
  
}


.about-me .content2 #profile{
  /* border-image: fill black; */
  /* object-fit: contain; */
  width: 100%;
  /* height: 90px; */
  /* height: 100%; */
  /* object-fit: contain; */
  /* top-left | top-right | bottom-right | bottom-left */
  /* border-radius: 0px 10px 10px 0px; */
  mask-image: linear-gradient(
    black 80%,
    transparent
  );
  filter: drop-shadow(
    0 0 10px rgba(0, 0, 0, .8)
  );
}

.about-me .content2.con::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to right top, #05193799, #004d7a99, #00879399, #00bf7299, #a8eb1299);
  z-index: -1;
}


.about-me .content2 #btns-social-networks{
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 30px;
}

.about-me .content2 #btns-social-networks a {
  /* width: 100%; */
  width: 25px;
  height: 25px;
}

.about-me .content2 #btns-social-networks a img{
  width: 100%;
  height: 100%;
}


.about-me .content1 button {
  border-style: none;
  background-color: var(--btn);
  color: #ffffff;
  font-size: .9em;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
  height: 50px;
  transition: font-size .3s;
  &&:hover{
    border-style: none;
    /* background-color: rgb(4, 146, 212); */
    color: #ffffff;
    /* background-color: var(--btn-hover); */
    
    filter: drop-shadow(
      0px 1px 4px rgba(11, 150, 230, 0.6)
    );
    cursor: pointer;
    transition: background-color .3s
  }
}


/* FIN ABOUT */

@media (max-width: 1080px) {
   /* Estilos para la mayoría de smartphones */
  .min-desc{
    font-size: 130px;
    margin-bottom: 25px;
    animation: fluid 5s ease-in-out infinite;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 300%;
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .btn-anchor{
    display: inline-flex;
    justify-content: center;
    /* height: fit-content; */
    /* width: fit-content; */
    border-style: none;
    text-decoration: none;
    padding: 30px;
    border-radius: 15px;
    font-size: 45px;
    font-weight: bold;
  }


  .btn-git{
    border-style: none;
    text-decoration: none;
    padding: 30px;
    border-radius: 15px;
    font-size: 45px;
    font-weight: bold;
    color: #ffffff;
  }

  .section{
    width: 100%;
    /* padding: 0; */
  }

  .about-me{
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
  }
  
  .text{
    color: #dbdbdb;
    font-size: 45px;
    /* margin-bottom: 30px; */
  }

  .about-me .content1{
    width: 80%;
    height: 50%;
    padding: 0px;
  }

  .about-me .content1  button {
    border-style: none;
    background-color: var(--btn);
    color: #ffffff;
    font-size: 45px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    width: 250px;
    height: 150px;
    transition: font-size .3s;
    &&:hover{
      border-style: none;
      /* background-color: rgb(4, 146, 212); */
      color: #ffffff;
      background-color: var(--btn-hover);
      cursor: pointer;
      transition: background-color .3s
    }
  }

  .about-me .content2 {
    /* margin: 0 auto; */
    width: 80%;
    height: 50%;
  }

  .about-me .content2 #btns-social-networks{
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 60px;
  }
  
  .about-me .content2 #btns-social-networks a {
    /* width: 100%; */
    width: 55px;
    height: 55px;
  }

}


@media (max-width: 480px) {
   /* Estilos para la mayoría de smartphones */
  .min-desc{
    font-size: 50px;
    margin-bottom: 25px;
    animation: fluid 5s ease-in-out infinite;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 300%;
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .btn-anchor{
    display: inline-flex;
    justify-content: center;
    /* height: fit-content; */
    /* width: fit-content; */
    border-style: none;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    color: #ffffff;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transpare
  }


  .btn-git{
    border-style: none;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
  }

  .section{
    width: 100%;
    /* height: ; */
    /* padding: 0; */
  }

  .about-me{
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
  }
  
  .text{
    color: #dbdbdb;
    font-size: 15px;
    /* margin-bottom: 30px; */
  }

  .about-me .content1{
    width: 80%;
    height: 50%;
    padding: 0px;
  }

  .about-me .content1  button {
    border-style: none;
    background-color: var(--btn);
    color: #ffffff;
    font-size: 45px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    width: 250px;
    height: 150px;
    transition: font-size .3s;
    &&:hover{
      border-style: none;
      /* background-color: rgb(4, 146, 212); */
      color: #ffffff;
      background-color: var(--btn-hover);
      cursor: pointer;
      transition: background-color .3s
    }
  }


  .about-me .content2 {
    /* margin: 0 auto; */
    width: 80%;
    height: 50%;
  }

  .about-me .content2 #btns-social-networks{
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 25px;
  }
  
  .about-me .content2 #btns-social-networks a {
    /* width: 100%; */
    width: 25px;
    height: 25px;
  }

}