
/* SERVICES */
/* .container-services  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  align-items: center;
  box-sizing: border-box;
  background-color: #0F1035;
  overflow-x: auto;
  scroll-snap-type: x mandatory; /* Hace que las cartas "encajen" al deslizar
} */
.container-services{
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 90%;
  box-sizing: border-box;
  position: relative;
  background-color: #0F1035;
  /* height: auto; */
  overflow: hidden;
  /* border-radius: 50% */
  /* background: #fff; */
  mask: linear-gradient(90deg, transparent, #fff 0%, #fff 100%, transparent);
}

.container-services .div-card-scroll:hover {
  animation-play-state: paused;
}

.div-card-desc-projects{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  padding: 10px;
  height: 100%;
  width: 50%;
  background-color: #0F1035;
  color: #ffffff;
}

.projects-desc{
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
}

.sombra {
  position: absolute;
  z-index: 10;
  margin-left: 0;
  top: 0;
  width: 50%; /* Ajusta según necesites */
  height: 100%;
  background: linear-gradient(to right, #0F1035 10%, rgba(0, 0, 0, 0.2) 50%, transparent 100%);
}

.div-card-scroll-p{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  /* position: absolute; */
  height: 100%;
  width: 50%;
  overflow: hidden;
}

.container-services .div-card-scroll{
  display: flex;
  width: 100%;
  gap: 10px;
  /* overflow-x: auto; */
  /* margin-bottom: 100px; */
  animation: animate var(--t) linear infinite;
  animation-delay: calc(var(--t) * -1);
  padding: 0px 150px 10px 150px;
}

@keyframes animate{
  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-100%);
  }
}

.container-services .div-card-scroll  h1 {
  color: rgb(0, 0, 0);
  font-size: 2.5em;

}

/* .container-services .div-card-scroll  #more-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
  width: 100px;
  height: 100px;

}

.container-services .div-card-scroll  #more-projects img{
  width: 50px;
  height: 50px;
  transition: 0.5s;
}

.container-services .div-card-scroll  #more-projects:hover img{
  width: 52px;
  height: 52px;
  transition: 0.5s;
} */



.container-services .div-card-scroll .card-v {
  display: flex;
  position: relative;
  width: auto;
  height: 250px;
  /* height: auto; */
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: start;
  font-size: 14px;
  font-weight: bold;
  background: rgba(127, 199, 217, 0.3);
  /* color: #000000; */
  color: #dbdbdb;

  scroll-snap-align: center; /* Alinea cada carta al centro del contenedor */
  flex-shrink: 0; /* Evita que las cartas se reduzcan */

  box-shadow: rgba(0, 0, 0, .8) 0px 0px 10px;
  border-radius: 5px;
  /* padding: 10px; */
  transition: width 0.5s, font-size 0.5s;
}

.container-services .div-card-scroll .card-v:hover {
  box-shadow: rgba(11, 150, 230, 0.6) 0px 1px 4px;

}

.container-services .div-card-scroll  .card-v .images {
  /* display: flex; */
  /* width: 100%; */
  height: 100%;
  /* padding: 10px; */
  /* max-height: 100%; */
}


.container-services .div-card-scroll  .card-v .images img {
  /* width: 100%; */
  height: 100%;
  /* max-width: 500px; */
  border-radius: 10px;
  object-fit: contain;
}

.container-services .div-card-scroll  .card-v .card-v-main {
  position: relative;
  /* text-wrap: balance; */
  width: 100%;
  height: auto;
}


/* .card-v-content{
  gap: 10px;
} */

.card-v-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 2em;
  font-weight: bold;
  color: #ffffff;
}

.card-v-text {
  /* margin-bottom: 50px; */
  grid-area: card-v-texto;
  font-size: 14px;
  font-weight: bold;
}

.container-services .div-card-scroll  .card-v .card-v-btn{
  display: flex;
  /* position: absolute; */
  /* z-index: 1; */
  gap: 10px;
  /* bottom: 0; */
  /* margin-bottom: 20px; */
}

/* FIN SERVICES */
/* Responsive para pantallas de tabletas (entre 600px y 1080px) */
@media (max-width: 1080px) {

  .container-services{
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    background-color: #0F1035;
    /* height: auto; */
    overflow: hidden;
    /* border-radius: 50% */
    /* background: #fff; */
    mask: linear-gradient(90deg, transparent, #fff 0%, #fff 100%, transparent);
  }
  .div-card-desc-projects{
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10;
    /* position: absolute; */
    padding: 10px;
    height: 100%;
    width: 100%;
    /* background-color: transparent */
    background: linear-gradient(#0F1035 10%, rgba(0, 0, 0, 0.2) 100%, transparent 50%);

    color: #ffffff;
  }

  .projects-desc{
    text-align: center;
    font-size: 80px;
    width: 100%;
    margin-bottom: 60px;
  }
  
  .sombra {
    display: none;
  }
  
  .div-card-scroll-p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-left: 0; */
    /* position: absolute; */
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .container-services .div-card-scroll{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
    /* overflow-x: auto; */
    /* margin-bottom: 100px; */
    animation: animate var(--t) linear infinite;
    animation-delay: calc(var(--t) * -1);
    padding: 0px 150px 20px 150px;
  }
  
  .container-services .div-card-scroll .card-v {
    display: flex;
    position: relative;
    /* width: 100%; */
    height: 550px;
    /* height: auto; */
    flex-direction: column;
    justify-content: center;
    align-items: start;
  
    scroll-snap-align: center; /* Alinea cada carta al centro del contenedor */
    flex-shrink: 0; /* Evita que las cartas se reduzcan */
  
    /* margin-right: 250px; */
    box-shadow: rgba(0, 0, 0, .8) 0px 0px 10px;
    border-radius: 5px;
    /* padding: 10px; */
    transition: width 0.5s, font-size 0.5s;
  }
  
}


@media (max-width: 480px) {

  .container-services .div-card-scroll{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 5px;
    /* overflow-x: auto; */
    margin-bottom: 0px;
    animation: animate var(--t) linear infinite;
    animation-delay: calc(var(--t) * -1);
    padding: 0px 150px 5px 150px;
  }
  
  .container-services .div-card-scroll .card-v {
    display: flex;
    position: relative;
    /* width: 100%; */
    height: 150px;
    /* height: auto; */
    flex-direction: column;
    justify-content: center;
    align-items: start;
  
    scroll-snap-align: center; /* Alinea cada carta al centro del contenedor */
    flex-shrink: 0; /* Evita que las cartas se reduzcan */
  
    /* margin-right: 250px; */
    box-shadow: rgba(0, 0, 0, .8) 0px 0px 10px;
    border-radius: 5px;
    /* padding: 10px; */
    transition: width 0.5s, font-size 0.5s;
  }

  .container-services .div-card-scroll  .card-v .images img {
    /* width: 100%; */
    height: 100%;
    /* max-width: 500px; */
    border-radius: 5px;
    object-fit: contain;
  }
  
}