.projects-desc{
  text-align: center;
  color: #ffffff;
  margin-bottom: 75px;
}

.timeline {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  margin: 2rem auto;
}

@media screen and (max-width: 480px) {
  .timeline{
    width: 100%;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .timeline{
    width: 100%;
  }
}

/* .timeline::before {
  content: '';
  position: absolute;
  left: 50%;
  width: 2px;
  background-color: #4f46e5;
  top: 160px;
  transform: translateX(-50%) translateY(-100%);
  height: calc(100% - 160px); 
  animation: grow-line 1.5s ease forwards;
}

@keyframes grow-line {
  from {
    transform: translateX(-50%) translateY(-100%);
  }
  to {
    transform: translateX(-50%) translateY(0);
  }
} */
/* Elimina la animación directa desde CSS */
.timeline::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 160px;
  width: 2px;
  height: 0;
  background-color: #4f46e5;
  transform: translateX(-50%);
  opacity: 0;
}

.timeline.animate-line::before {
  animation: growLine 2s ease-in-out forwards;
}

@keyframes growLine {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: calc(100% - 160px);
    opacity: 1;
  }
}

.timeline-item.left {
  left: 0;
  text-align: right;
}
.timeline-item.right {
  left: 50%;
}

.timeline-item {
  position: relative;
  width: 50%;
  box-sizing: border-box;
  padding: 20px 20px;
  /* position: relative; */
}

.timeline-item.left::before {
  right: -6px;
}
.timeline-item.right::before {
  left: -6px;
}

.timeline-item::before {
  content: "";
  position: absolute;
  top: 30px;
  width: 12px;
  height: 12px;
  background-color: #4f46e5;
  border-radius: 50%;
  z-index: 1;
}

.timeline-item-dot{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #1c76c0;
}

.timeline-item-content{
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  color: #ffffff;
}

.timeline-item-content .date{
  font-size: var(--font-body);
  color: #bebebe;

}

.timeline-item-content h3{
  margin: 0;
  font-size: var(--font-subtitle);
}


/* .timeline-item::before {
  content: "";
  position: absolute;
  left: -0rem;
  top: 0;
  width: 1rem;
  height: 1rem;
  background-color: #4f46e5;
  border-radius: 50%;
} */
