:root{
  --c-extra: ;
  --color:#808080;
  --fnd : #ffffff;
  --fndRsp: white;
  --colorRsp: black;
  --padd: 250px;
  /* --font-size-title: 50px; */
  /* --font-size-text: 20px; */
  /* --btn: #365486; */
  --btn: #0B97E6;
  --btn-hover: #0F1035;
}

/* ---------- Estilos Generales ---------- */
.Nav-Content {
  transition: transform 0.3s ease;
  background-color: #111111d3;
  z-index: 999;
}

.Nav-Content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.Nav-Content li a {
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
}


@media screen and (max-width: 480px) {
  #toggle-menu {
    display: block;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
    background: none;
    border: none;
    color: white;
    font-size: 32px;
    cursor: pointer;
  }

  .Nav-Content {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100vh;
    padding-top: 80px;
    transform: translateX(-100%);
    flex-direction: column;
  }

  .Nav-Content.show {
    transform: translateX(0);
  }

  .Nav-Content .Nav {
    flex-direction: column;
  }
}

/* ---------- Móvil: ≤768px ---------- */
@media screen and (min-width:481px ) and (max-width: 768px) {
  #toggle-menu {
    display: block;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
    background: none;
    border: none;
    color: white;
    font-size: 32px;
    cursor: pointer;
  }

  .Nav-Content {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100vh;
    padding-top: 80px;
    transform: translateX(-100%);
    flex-direction: column;
  }

  .Nav-Content.show {
    transform: translateX(0);
  }

  .Nav-Content .Nav {
    flex-direction: column;
  }
}

/* ---------- Tablet/media: 769px–1080px ---------- */
@media screen and (min-width: 769px) and (max-width: 1080px) {
  #toggle-menu {
    display: none;
  }

  .Nav-Content {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 12%;
    background-color: #0F1035;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .Nav-Content .Nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Nav-Content .Nav li {
    margin: 10px 0;
    font-size: 18px;
    border-top: 2px solid #0F1035;
    border-bottom: 2px solid #0F1035;
    transition: 0.3s;
  }

  .Nav-Content .Nav li:hover {
    color: var(--btn);
    border-top: 2px solid var(--btn);
    border-bottom: 2px solid var(--btn);
  }
}


/* ---------- Escritorio: ≥1081px ---------- */
@media screen and (min-width: 1081px) {
  #toggle-menu {
    display: none;
  }

  .Nav-Content {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 10%;
    background-color: #0F1035;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Nav-Content .Nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Nav-Content .Nav li {
    margin: 10px 0;
    height: 50px;
    /* width: 120px; */
    font-size: 16px;
    border-top: 2px solid #0F1035;
    border-bottom: 2px solid #0F1035;
    transition: 0.5s;
  }

  .Nav-Content .Nav li:hover {
    color: var(--btn);
    border-top: 2px solid var(--btn);
    border-bottom: 2px solid var(--btn);
    font-weight: bold;
  }
}