body{
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
  z-index: 0;
  padding: 0;
  margin: 0;
  font-family: "roboto";
  font-weight: 400;
  font-style: normal;
  /* background-color: #1d1d1d; */

  background-color: #DCF2F1;

  /* scroll-behavior: smooth; */
  /* box-sizing: border-box; */
  /* background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./imgs/wallpaper.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; */
}


@font-face {
  font-family: 'roboto';
  src: url('fonts/roboto/Roboto-Medium.ttf') format('truetype');
  font-style: normal;
}
/* 
h1{
  font-size: 19px;
} */

/* h1, h2, h3{
  font-weight: bolder;
} */

#proyectos {
  --t: 20s; /* Definido específicamente para esta sección */
}


#evSbLmiHTRJ1{
  position: fixed;
  z-index: -1;
}

p{
  /* font-weight: 100; */
  font-size: 18px;
}


.active{
  color: var(--btn);
  border-top: 2px solid var(--btn);
  border-bottom: 2px solid var(--btn);
}


.tools li{
  display: inline-flex;
  /* margin-bottom: 10px; */

  /* Cuando se use anchor */
  &&>a{
    color: #ffffff;
    
    &&>svg{
      width: auto;
      height: 35px;
    }

    &&:hover{
      padding: 1;
      color: #0486b6;
      transition: color .3s
    }
  };
  /* Cuando no se use anchor */
  &&>img{
    width: auto;
    max-height: 20px;
  }
}


.hidden{
  opacity: 0;
  transition: all 1s;
}

.show{
  opacity: 1;
}

.smooth-scroll{
  transition: all .5s ease-in-out;
}

h1{
  /* font-size: 3em; */
  margin: 0;
}

/* Contenedor principal */
/* .container-principal{
  width: 100%;
  height: 100vh;
  background-color: aquamarine;
} */
/* @media(min-width: 768px){ */

.section{
  /* padding: 250px; */
  width: 100%;
  height: 100vh;
  padding: 40px 150px 40px 150px;
  font-weight: 500;
  background-color: #0F1035;
}

.btn-anchor{
  display: inline-flex;
  justify-content: center;
  /* height: fit-content; */
  /* width: fit-content; */
  border-style: none;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  background: rgba(127, 199, 217, 0.3);
  box-shadow: rgba(0, 0, 0, .8)0 0 10px;
  /* box-shadow: rgba(11, 150, 230, 0.6) 0px 1px 4px; */
  color: #ffffff;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  /* background-color: var(--btn); */
  &&:hover{
    
    color: var(--btn);
    /* border-top: 2px solid var(--btn);
    border-bottom: 2px solid var(--btn); */
    background-color: transparent;
    cursor: pointer;
    /* transition: background-color .3s; */
    transition: 0.5s;
  }
}

.btn-git{
  border-style: none;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  background-color: var(--color);
  box-shadow: rgba(0, 0, 0, .8) 0 0 10px;
  /* box-shadow: rgba(127, 199, 217) 0px 1px 4px; */
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  &&:hover{
    background-color: #414141;
    cursor: pointer;
    transition: background-color .3s;
  }
}

.name{
  font-size: 65px;
  font-weight: bolder;
  /* margin-top: 10px; */
  /* margin-bottom: 20px; */
}

.min-desc{
  font-size: 55px;
  margin-bottom: 25px;
  animation: fluid 5s ease-in-out infinite;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 300%;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes fluid {
    0% { background-position: 0 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0 50% }
}







/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: auto;
  background-color: #000;
  color: #ffffff;
}

footer .columns {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

footer div div a {
  color: #ffffff;
  text-decoration: none;
}

footer div div a:hover {
  color: #ffffff;
  text-decoration: underline;
}

footer h4 a {
  color: #ffffff;
  text-decoration: none;
}

footer h4 a:hover {
  color: #ffffff;
  text-decoration: underline;
}

/* FIN FOOTER */



/* SCROLL */
/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 15px;
}

::-webkit-scrollbar-button:increment,
::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar:horizontal {
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid#f1f2f3;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* FIN SCROLL */
/* } */
