/* Estilos para pantallas más pequeñas */
@media (max-width: 552px) {
  /* ABOUT */
  .about-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    /* padding: 10px; */
    background-color: transparent;
    color: #ffffff;
    font-size: 1em;
    
    background:linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0,.1)), url('./imgs/About/about.jpg');
    background-position: center;
    background-size: cover;
  
  }
  .about-me .content{
    width: 80%;
  }
  
  .about-me .content h1{
    font-size: 2em;
  }
  
  .about-me .content button{
    margin-top: 50px;
    border-style: none;
    background-color: rgb(0, 174, 255);
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    width: 250px;
    height: 50px;
    transition: fon-size .9s;
  }
  /* FIN ABOUT */

  /* MISION VISION */
  .container-mision-vision{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    text-align: center;
    /* gap: 15px; */
    width: 100%;
    height: 100vh;
    font-size: .9em;
    /* box-shadow: 0px 0px 5px #000; */
    /* box-sizing: border-box; */
    /* background-color: aliceblue; */
  }
  
  .container-mision-vision .container-mision-content-image{
    position: relative;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url('./imgs/Vision-Mision/mision.jpg');
    background-position: center;
    background-size: cover;
    /* z-index: -1; */
  }
  
  .container-mision-vision .container-vision-content-image{
    position: relative;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url('./imgs/Vision-Mision/vision.jpg');
    background-position: center;
    background-size: cover;
    /* z-index: -1; */
  }
  
  .container-mision-vision 
  .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 30px;
    color: #ffffff;
    opacity: 1;
    border-radius: 5px;
    /* box-shadow: 0px 0px 2px 0px #000; */
  }
  /* FIN MISION VISION */

  /* SERVICES */
  .container-services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding-bottom: 100px;
    gap: 10px;
    box-sizing: border-box;
    /* padding: 80px; */
    background-color: #ffffff;
  }
  
  .container-services h1{
    font-size: 1.8em;
    margin-bottom: 0;
  }
  
  .container-services .card-v{
    display: flex;
    flex-direction: column;
    gap: 8px;
  
    justify-content: center;
    align-items: center;
    text-align: center;
    
    max-width: 100%;
    height: auto;
    font-size: .9em;
    background-color: #ffffff;
    border-radius: 5px;
    /* box-shadow: 0px 0px 2px 0px #000; */
    padding: 20px;
    transition: width 0.5s, font-size 0.5s;
  }
  
  .container-services .card-v-r{
    display: flex;
    flex-direction: column;
    gap: 8px;
  
    justify-content: center;
    align-items: center;
    text-align: center;
    
    max-width: 100%;
    height: auto;
    font-size: .9em;
    background-color: #ffffff;
    border-radius: 5px;
    /* box-shadow: 0px 0px 2px 0px #000; */
    padding: 10px;
    transition: width 0.5s, font-size 0.5s;
  }
  
  
  .container-services .card-v .images{
    width: 100%;
  }
  
  .container-services .card-v-r .images{
    width: 100%;
  }
  
  .card-v-images{
    width: 250px;
    height: 150px;
    object-fit: cover;
  }
  
  .container-services .card-v .card-v-content{
    width: 80%;
  }
  .container-services .card-v-r .card-v-content{
    width: 80%;
  }
  
  .card-v-title { 
    font-size: 1.4em;
    font-weight: 700;
  }
  
  .card-v-texto { grid-area: card-v-texto; }
  /* FIN SERVICES */

  /* TOOLS */
  .container-tools{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1f2f3;
    font-size: .9em;
  }
  
  .container-tools h1{
    font-size: 1.8em;
    margin-bottom: 50px;
  }
  
  .container-tools .card-tools{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  
  .container-tools .card-tools .card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 150px;
    height: auto;
    transition: width .5s, height .5s, border-radius .5s;
    /* background-color: #b8b8b8; */
  }
  
  .container-tools .card-tools .card img{
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }
  
  .container-tools .card-tools .card .content h2{
    margin: 0;
  }
  
  .container-tools .card-tools .card .content{
    text-align: center;
    margin: 0;
    height: auto;
    font-size: 0.9em;
  }
  /* FIN TOOLS */

  
  /* SERVICES PLAN */
  .container-services-plans{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100vh;
    background-color: #ffffff;
    
    /* white-space: nowrap; */
  }
  
  .container-services-plans h1 {
    font-size: 1.8em;
    margin-bottom: 40px;
  }
  
  .container-services-plans .services{
    display: flex;
    flex-wrap: nowrap;
    /* flex-direction: row; */
    max-width: 90%;
    gap: 30px;
    padding: 20px;
    overflow: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    
    /* margin-left: 50px; */
    /* white-space: nowrap; */
    /* display: block; */
  }
  
  /* PLANS LEFT */
  .container-services-plans .services .card{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 400px;
    /* padding: 10px; */
    border-radius: 0 40px;
    background-color: #ffffff;
    box-shadow: 1px 1px 8px 0px #000;
    
  }
  
  .container-services-plans .services .card .title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    margin: 0;
    color: #ffffff;
    border-radius: 0px 40px;
    background-color: rgb(0, 174, 255);
  }
  
  .container-services-plans .services .content{
    /* width: 100%; */
    height: 250px;
    padding: 10px;
    margin-top: 20px;
    /* border-radius: 5px; */
    background-color: #ffffff;
    /* box-shadow: 0px 0px 3px 0px #000; */
  }
  .container-services-plans .services .price{
    margin-top: 15px;
    font-size: 1.4em;
    text-align: center;
    padding-inline-start: 10px;
    /* box-shadow:  0px 2px 0px #000; */
  }
  
  .container-services-plans .services .card button{
    border-radius: 0px 20px;
    margin: 40px;
    cursor: pointer;
    height: 60px;
  
    background-color: rgb(0, 174, 255);
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    padding-inline-start: 10px;
    border-style: none;
  }
  /* FIN PLAN LEFT */
  
  /* PLAN CENTER */
  .container-services-plans .services .card-c{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 400px;
    /* padding: 10px; */
    border-radius: 0px 0px 40px 40px;
    background-color: #ffffff;
    box-shadow: 1px 1px 8px 0px #000;
  }
  
  .container-services-plans .services .card-c .title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    margin: 0;
    color: #ffffff;
    border-radius: 0 0 40px 40px;
    background-color: rgb(0, 174, 255);
  }
  
  .container-services-plans .services .card-c button{
    border-radius: 10px;
    margin: 40px;
    cursor: pointer;
    height: 60px;
  
    background-color: rgb(0, 174, 255);
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    padding-inline-start: 10px;
    border-style: none;
  }
  /* FIN PLAN CENTER */
  
  /* PLAN RIGHT */
  .container-services-plans .services .card-r{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 400px;
    /* padding: 10px; */
    border-radius: 40px 0px;
    background-color: #ffffff;
    box-shadow: 1px 1px 8px 0px #000;
  }
  
  .container-services-plans .services .card-r .title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    margin: 0;
    color: #ffffff;
    border-radius: 40px 0px;
    background-color: rgb(0, 174, 255);
  }
  
  .container-services-plans .services .card-r button{
    border-radius: 20px 0;
    margin: 40px;
    cursor: pointer;
    height: 60px;
  
    background-color: rgb(0, 174, 255);
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    padding-inline-start: 10px;
    border-style: none;
  }
  /* FIN PLAN RIGHT */
  
  /* FIN SERVICES PLAN */

  
  /* TEAM */
  .container-team{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #f1f2f3;
    padding-bottom: 130px;
  }
  
  .container-team .title{
    font-size: 1.8em;
    margin-bottom: 30px;
  }
  
  .container-team .container-team-cards{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    
  }
  
  .container-team .container-team-cards .card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    gap: 20px;
    width: 60%;
    padding: 20px;
    box-shadow: 1px 1px 8px 0px #000;
    border-radius: 10px;
    background-color: #ffffff;
  }
  
  .container-team .container-team-cards .card img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
    object-fit: cover;
    /* box-shadow: 1px 1px 8px 0px #000; */
  }
  /* FIN TEAM */

      
  /* FOOTER */
  footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: auto;
    background-color: #000;
    color: #ffffff;
  }

  footer .columns{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
  }
  
  footer div div a {
    color: #ffffff;
    text-decoration: underline;
  }

  footer h4 a{
    color: #ffffff;
    text-decoration: underline;
  }
  /* FIN FOOTER */
}